@font-face {
  font-family: 'karla' ;
  src: url(../p1-assets/fonts/Karla-Regular.ttf);
}

@font-face {
  font-family: 'karla' ;
  src: url(../p1-assets/fonts/Karla-Bold.ttf);
       font-weight: bold;
}

@font-face {
  font-family: 'Pacifico' ;
  src: url(../p1-assets/fonts/Pacifico.ttf);
}


body {
  font-family: karla, sans-serif;
  font-size: 16px;
  line-height: 1.25em;
  box-sizing: border-box;
  color: #2d2d2d;
}

img {
  width: 100%;
}

h1, h2 {
  text-align: center;
}


header {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


header img {
max-width: 50%;

height: 30%;
width: 100%;
}

header nav {
    width: 100%;
    margin-bottom: -.5em;
}

header nav ul{
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  padding: 0 1em;

}

header nav ul li{
  padding: 0 1em;

}

header nav ul li a{

  color: white;
  text-decoration: none;
}

.banner{
  background: linear-gradient(to top,
    rgba(0, 0, 0, 0.35)0%,
    rgba(0, 0, 0, 0.25)100%
    ),
    url('../p1-assets/images/kayak-bkgd.jpg');
  background-position: top center;
  background-size: cover;
  text-align: center;
  padding: 3em 0;
  padding-bottom: 6em;
  color: white;

}

.site-title span{
  font-family: Pacifico, cursive;
  font-weight: normal;
  color: white;
  display: block;
}

.site-title .enjoy-the {
  font-family: karla, sans-serif;
  font-weight: normal;
  font-size: .75em;
  padding: .5em 0;
  text-transform: uppercase;
}

.great-outdoors, .from-the-water {

  text-shadow: 2px 2px 5px #999;
}

.great-outdoors {
  font-size: 2em;
  font-weight: normal;
  padding: .5em 0;
}

.from-the-water {
  font-size: 1.5em;
  padding: .5em 0;
}

.banner p{
  font-size: .8em;
  background-color: rgba(0, 0, 0, 0.5);
  width: 65%;
  padding: .4em .75em;
  margin: .75em auto;
  margin-bottom: 3em;
  line-height: 1.5em;
}

.btn-signup {
  background-color: #e2574c;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  padding: .75em 1em;
  border-radius: 2em;
}


main {
  margin: 0 auto;
}


main h2{
  font-family: Pacifico, cursive;
  color: #646464;
  padding: .75em 0;
  font-size: 2.5em;
  font-weight: normal;
}

main p{
  font-size: .8em;
  text-align: center;
  color: #565656;
  line-height: 1.75em;
  margin: 0 .35em;
  margin-bottom: 2em;
  font-weight: normal;

}

.promo-images {
  margin: .35em;
}

.promo-images img {
  margin: .25em 0;
  box-shadow: 0px 3px 4px #888888;
}

.rentals p{
  text-align: left;
  width: 80%;
  margin: 1.75em .35em;
}

.rentals p a{
  color: #e2574c;
}


table {
  color: #2d2d2d;
  font-size: .9em;
  border: 1px solid #c8c8c8;
  width: 97%;
  text-align: center;
  border-collapse: collapse;
  margin: 0 auto;
}

thead th {
  background-color: #e6e6e6;
  border: 1px solid #c8c8c8;
  padding: .75em .60em;

}

td{
  padding: .75em .5em;
  border: 1px solid #c8c8c8;

}

.lefttable {
  text-align: left;
}


.location p{
  padding: 0 2em;
}

iframe {
  margin-left: 5px;
  padding-bottom: 2em;
  border-top: 2px solid red;

}



footer {
  background: #2e2e2e;
  text-align: center;
  padding: 3em 0;
  color: white;

}

footer p{
  font-size: .8em;
  display: block;

}

footer p a{
  color: white;
}

footer nav ul li{
  display: inline;
}

footer nav ul{
  padding: .5em 0;
}

footer nav ul li a{
  color: white;
  font-size: 1em;
}

footer .location{
  color:#999;
}

footer nav ul li a i{
  padding: 0 .25em;
}

.social-sites {
  display: none;
}


@media (min-width: 600px) {

  header {
    justify-content: space-between;
    flex-direction: row;
    padding-top: .5em;
    margin: 0;
  }

 header img{
   padding: 0 1em;
   width: 30%;
   padding-bottom: .35em;
 }

 header nav {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 60%;
   margin: 0;
   height: 25px;
 }

 header nav ul {
   font-size: 13px;
   padding: 0;

 }



 .site-title span{
   padding: .5em 0;

 }

 .site-title .great-outdoors {
   font-size: 2.75em;
 }

 .site-title .from-the-water {
   padding-top: .75em;
   font-size: 1.5em;
 }

 .banner a{
 font-size: 1em;
}

  .banner p{
    font-size: 1em;
    margin-bottom: 2em;
    width: 79%;

  }

  main .promo-images {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .promo-images img {

    width: 31%;
    height: 100%;
    margin: 0 .35em;
  }

  .rentals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .rentals h2 {
    width: 100%;
    margin-bottom: .25em;
  }

  .rentals-description {
    padding-top: 0;
    width: 44%;


  }

  .rentals-description p {
    margin: 1.25em 0;
    margin-left: .5em;
    margin-right: 0;

  }

  .rentals table {
    margin: 1.25em 0;
    margin-right: .5em;
    width: 54%;
    font-size: 14px;
    margin-left: 0;
  }

  footer {
    padding: 1.75em 0;
    display: flex;
    justify-content: space-between;
  }

  footer article {
    text-align: left;
    padding: 0 .5em;
  }

  footer nav {
    margin-top: -.75em;
  }

  footer nav ul li {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 1.5em;
    padding-bottom: .25em;
  }

  footer nav ul li a i {
    width: 20px;
  }

  .social-sites {
    display: inline;
    font-size: 12px;
    font-weight: bold;
    padding: 0 .5em;

  }

  nav ul li a{
    text-decoration: none;
  }

  iframe {
    margin-left: 8px;
  }

}



/**
 * desktop breakpoint: 1024px
 **/
 /*
 @media (min-width: 1024px) {


 header {
   justify-content: space-between;
   flex-direction: row;
   padding: 0;
 }

header img{

  padding: 0 1em;
  width: 20%;
  height: 50%;
  margin: 1em 0;
}

header nav {
  width: 55%;
  margin: -.75em 0;
  margin-right: 2em;
}

header nav ul {

  font-size: 16px;
  padding: 0 1em;
  justify-content: flex-end;
}

header nav ul li a{

  margin: 1em;

}

header nav ul li {
  padding: 0 .5em;

}

.banner {
  padding: 5em 0;
}

.site-title span{
  padding: .5em 0;
}

.site-title .enjoy-the {
  font-size: 1em;

}

.site-title .great-outdoors {
  font-size: 5.75em;
  padding-bottom: .65em;
}

.banner p{
  font-size: 1.25em;
  padding: .4em 0;
  width: 55%;

}

.btn-signup{
  font-size: 1.25em;
}

*/
